//https://cloudconvert.com/html-to-png
//https://photoscissors.com/editor/2087162258/uiV25hGFt
//https://css-tricks.com/using-css-cursors/

@import "mixins";

.pause-animation {
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.visualback-proxy {
    * {
        cursor: url(/img/cursor.svg), auto !important;
    }

    .on-hover {
        outline: 1px dotted #500ade !important;
    }
}

.visualback-proxy {
    .pin {
        opacity: 0;
        width: 32px !important;
        max-width: 32px !important;
        min-width: 32px !important;
        height: 32px !important;
        max-height: 32px !important;
        min-height: 32px !important;
        border: 1px solid #500ade;
        background-color: #500ade !important;
        @include border-radius(60px 60px 0 60px !important);
        position: absolute !important;
        @include transform(rotate(45deg) !important);
        z-index: 99999999999999;
        transition: 0.3s;
        pointer-events: auto;
        box-sizing: content-box;

        &:after {
            content: attr(data-count) !important;
            @include transform(rotate(-45deg) !important);
            width: 25px !important;
            height: 25px !important;
            background: #fff !important;
            position: absolute !important;
            left: 10% !important;
            top: 10% !important;
            @include border-radius(60px !important);
            @include flexbox-important();
            @include align-items(center !important);
            @include justify-content(center !important);
            font-size: 14px !important;
            font-weight: 600 !important;
            color: #555555 !important;
            z-index: 99999999999999 !important;
            font-family: Montserrat, sans-serif;
        }

        &:hover {
            @include transform(scale(1.1) rotate(45deg) !important);
        }

        &.visible {
            opacity: 0.84;

            &:hover {
                opacity: 1;
            }
        }

        &:not(.temp) {
            cursor: pointer !important;
        }

        &.highlight-comment {
            border: 1px solid #fff;
            @include box-shadow(0 0 6px #500ade !important);
            @include transform(scale(1.1) rotate(45deg) !important);
        }
    }
}
